*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background: rgb(228,227,255);
    background: linear-gradient(90deg, rgba(228,227,255,1) 0%, rgba(190,190,217,1) 55%, rgba(167,217,226,1) 100%);
  }
  .main {
    font-family: Calibri;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    width: 50%;
    background: rgb(72, 149, 151);
   margin-left: 20vw;
    margin-top: 8vw;
    border-radius: 1vw;
    border: 1px solid black;
  }
  
  h1{
    text-align: center;
    font-style: oblique;
  }
  .bar {
    display: flex;
    flex-direction: row;
    padding: 2vw;
    border: 1px black;
    justify-content: space-between;
  }
  
  .selectprogress {
    font-size: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 2px blue;
    border-radius: 2vw;
    background-color: #49b33b;
  }
  
  
  .step {
    width: 100vw;
    font-size: 2vw;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;  
    padding: 1vw;
  }
  
  .inputs,input{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
  }
  
  button {
    background-color: cornflowerblue;
    padding:1vw;
    border: 1px white;
    border-radius: 1vw;
    color: white;
    font-size: 1vw;
  }
  button:hover{
    background-color: rgb(34, 98, 216);
    padding:1vw;
    border: 1px white;
    border-radius: 1vw;
    color: white;
    font-size: 1vw;
  }
  
  .submitbtn {
    background-color: darkcyan;
    border: 1px white;
    border-radius: 1vw;
    color: white;
    font-size: 1vw;
  }
  
  .input {
    margin-bottom: 2vw;
    border-radius: 0.5vw;
    width: 48vw;
  }
  
  input {
    font-size: 2vw;
  }
  
  #finalmessage {
    font-size: 3vw;
    color: rgb(120 31 31);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #sucess {
    color: rgb(2 0 139);
    font-size: 5vw;
    padding: 10px;
  }
   #step2,#step3,#step4{
    display: none;
  } 
  




  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 48%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vw;
    transition: 0.3s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
    font-size: 1.8vw;
  }
  
  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 47%;
  }

.marks,input{
    font-size: 2vw;
    font-style: normal;
}

.marks{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

.marks,button{
    
    color: black;
}

#button1{
    background-color: rgb(33, 179, 106);
}

#button2{
    background-color: rgb(33, 179, 106);
}

#button3{
    background-color: rgb(33, 179, 106);
}

#button4{
    background-color: rgb(33, 179, 106);
}


#img{
    width: 10vw;
    background: transparent;
    margin-left: 25vw;
    border-radius: 850% 885% 0 0;
}

#check{
    font-style: normal;
    font-size: 2vw;
}
#ip,input{
    font-size: 2vw;
    font-style: normal;
}
h1{
    font-style: normal;
}

@media screen and (max-width: 600px) {
    #ip{
        font-size: 2vw;

    }
    .ck{
        height:1vh ;
        width: 1vw;
        font-size: 2vw;
     

    }
    
}